**[@ANCHOR: action_generate_qrz_token]**
**[@ANCHOR: action_verify_official_otp]**
